{% extends 'base/main.html' %}
{% load static %}
{% block content %}




<div class="container">

    <figure class="highcharts-figure">
        <div id="container"></div>

    </figure>



</div>

<script>


    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Types de développeurs'
        },
        subtitle: {
            text:
                'Tchamidev'
        },

        yAxis: {
            min: 0,
            title: {
                text: 'Total'
            }
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Backend Dev',
                data: [89.9]
            },
            {
                name: 'Frontend Dev',
                data: [43.6]
            },
            {
                name: 'FullStack Dev',
                data: [48.9]
            }
        ]
    });

</script>

{% endblock content %}